# Resend API Key (Get it from https://resend.com/api-keys)
RESEND_API_KEY=re_9A92XfUZ_6929SpjM9cdPXea7WTzcuPzn

# Where to send the contact form emails
CONTACT_EMAIL=infos@luptek.com

# Analytics & Features
GA_MEASUREMENT_ID=G-GG2YPWDR1R
GOOGLE_PLACES_API_KEY=AIzaSyAwSwyW06qMHiU8aGwfPvPGJdYDtvO3ndo
GOOGLE_PLACE_ID=ChIJSX7c6W8zYRARAO5ZBADOw-4
